/* general */

/* utility */

.ag-width-100{
  width: 100%;
}

.ag-max-width{
  max-width: 300px;
}

.ag-min-with{
  min-width: 270px;
}

.ag-bg-black {
  background-color: black;
}

.ag-bg-dark-grey{
  background-color: rgb(31, 31, 31);
}

.ag-padding-t-300px{
  padding-top: 300px;
}

.ag-padding-t-60px{
  padding-top: 60px;
}

.ag-padding-t-48px{
  padding-top: 48px;
}

.ag-padding-b-30px{
  padding-bottom: 30px;
}

.ag-font-size-18px{
  font-size: 18px;
}

.ag-font-size-16px{
  font-size: 16px;
}

.ag-color-white{
  color: white;
}

.ag-color-light-blue{
  color: #0072ce;
}

.ag-row-gap-30px{
  row-gap: 30px;
}

.ag-row-gap-20px{
  row-gap: 20px;
}

.ag-border-radius-20px{
  border-radius: 20px;
}

.ag-border-none{
  border: none;
}

.ag-padding-y-20px{
  padding-top: 20px;
  padding-bottom: 20px;
}

.ag-padding-y-40px{
  padding-top: 40px;
  padding-bottom: 40px;
}

.ag-font-weight-600{
  font-weight: 600;
}

.ag-bg-ps-plus{
  background-color: rgb(190 188 187);
}

/* content */


/*********** HEADER **************/
#sony-logo {
  width: 70px;
  height: 30px;
}







/****************** MAIN ************************/


/*        SEZIONE 1           */

#jumbotron-container{
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#jumbotron img,
#second-jumbotron img{
  width: 70%;
}

#jumbotron{
  padding-top: 115px;
}





/*         SEZIONE 2         */

#jumbo-photos img{
  width: 100%;
  border-radius: 15px;
}




/*             SEZIONE 3          */


/*      SEZIONE 5        */

#photo-gadgets{
  padding-bottom: 50px;
}

#photo-gadgets img{
  filter: opacity(50%);
}

#photo-gadgets img:hover{
  filter: none;
}

#photo-gadgets #mini-ps5-ph{
  filter: none;
  border-bottom: 2px solid blue;
}



/*            SEZIONE 6            */


#second-jumbotron{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}