/* general */

ul{
  list-style-type: none;
}

ul li a{
  text-decoration: none;
  color: white;
}

footer{
  background-color: rgb(0 67 156);
  color: white;
  font-size: 13px;
}

/* utility */

.ag-width-100{
  width: 100%;
}

.ag-width-150px{
  width: 150px;
}

.ag-max-width{
  max-width: 300px;
}

.ag-bg-black {
  background-color: black;
}

.ag-bg-black:hover{
  background-color: rgb(70, 70, 70);
}

.ag-bg-dark-grey{
  background-color: rgb(31, 31, 31);
}

.ag-btn-orange{
  background-color: rgb(204 63 15);
}

.ag-btn-orange:hover{
  background-color:coral;
}

.ag-bg-gain{
  background-color: gainsboro;
  border: none;
  color: #0072ce;
}

.ag-bg-gain:hover{
  background-color: rgb(151, 151, 151);
  color: white;
}

.ag-padding-t-300px{
  padding-top: 300px;
}

.ag-padding-t-60px{
  padding-top: 60px;
}

.ag-padding-t-48px{
  padding-top: 48px;
}

.ag-padding-b-30px{
  padding-bottom: 30px;
}

.ag-font-size-18px{
  font-size: 18px;
}

.ag-font-size-16px{
  font-size: 16px;
}

.ag-color-white{
  color: white;
}

.ag-color-light-blue{
  color: #0072ce;
}

.ag-row-gap-30px{
  row-gap: 30px;
}

.ag-row-gap-20px{
  row-gap: 20px;
}

.ag-border-radius-20px{
  border-radius: 20px;
}

.ag-border-none{
  border: none;
}

.ag-padding-y-20px{
  padding-top: 20px;
  padding-bottom: 20px;
}

.ag-padding-y-40px{
  padding-top: 40px;
  padding-bottom: 40px;
}

.ag-font-weight-600{
  font-weight: 600;
}

.ag-bg-ps-plus{
  background-color: rgb(190 188 187);
}

.ag-bg-ps-now{
  background-color: rgb(22 28 59);
}

/* content */


/*********** HEADER **************/
#sony-logo {
  width: 70px;
  height: 30px;
}

.navbar-light .navbar-nav .nav-link:focus{

  color: rgba(0,0,0,.7);
}

#game-nav{
  position: relative;
  display: inline-block;
}

#games-content{
  left: -112%;
}


#hardwere-content{
  left: -163%;
}


#services-content{
  left: -339%;
}


#news-content{
  left: -432%;
}


#shop-content{
  left: -379%;
}



#support-content{
  left: -543%;
}



.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);    z-index: 1;
  width: 100vw;
}

.ag-row-hover-bottom{
  border-top: 1px solid gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ag-row-hover-bottom a{
  color: black;
  font-size: 11px;
}

.nav-item:hover .dropdown-content {
  display: block;
}



.navbar-light .navbar-nav .nav-link:hover #games-content{
 display: block;
}

header #search-btn i{
  font-size: 22px;
}

header #search-btn{
  line-height: 47px;
  padding-left: 13px;
  color: gray;
} 



/****************** MAIN ************************/


/*        SEZIONE 1           */

#jumbotron-container{
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#jumbotron img,
#second-jumbotron img{
  width: 70%;
}

#jumbotron{
  padding-top: 115px;
}




/*         SEZIONE 2         */

#jumbo-photos img{
  width: 100%;
  border-radius: 15px;
}

#jumbo-photos .col-6.col-sm-4.col-lg-2:hover{
  cursor: pointer;
  transform: translateY(-0.5rem);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#jumbo-photos #first-jumbo-photo{
  box-sizing: content-box;
  border: 5px solid blue;
  border-radius: 15px;
}

/*             SEZIONE 3          */


/*      SEZIONE 5        */

#photo-gadgets{
  padding-bottom: 50px;
}

#photo-gadgets img{
  filter: opacity(50%);
}

#photo-gadgets img:hover{
  filter: none;
  border-bottom: 2px solid blue;
  cursor: pointer;
}

#photo-gadgets #mini-ps5-ph{
  filter: none;
  border-bottom: 2px solid blue;
}



/*            SEZIONE 6            */


#second-jumbotron{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



footer #logo-foot img{
  width: 15%;
}